<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Cambios</title>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Change list</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Project</th>
            <th>Subject</th>
            <th>QA Env</th>
        </tr>
        {{range .Changes}}
        <tr>
            <td><a href="{{$.GerritURL}}/c/{{.Project}}/+/{{.ID}}">{{.ID}}</a></td>
            <td>{{.Project}}</td>
            <td>{{.Subject}}</td>
            <td><a href="https://{{.ID}}.svc-pre.teimas.com">link</a></td>
        </tr>
        {{end}}
    </table>
</body>
</html>
