<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Cambios</title>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Board list</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Query</th>
            <th>Custom field</th>
        </tr>
        {{range .Boards}}
        <tr>
            <td><a href="/{{.ID}}">{{.ID}}</a></td>
            <td>{{.Description}}</td>
            <td>{{.Query}}</td>
            <td>{{.CustomFieldName}}</td>
        </tr>
        {{end}}
    </table>
</body>
</html>
